#page
  .flink#article-container
    each i in site.data.link
      h1= i.class_name
      h4= i.class_descr
      .post-cards
        .md-links
          each item in i.link_list
            .md-links-item
              a(href=item.link  title=item.name target="_blank")
                if theme.lazyload.enable
                  img.lazyload(data-src=item.avatar onerror=`this.onerror=null;this.src='` + url_for(theme.lodding_bg.flink) + `'` alt=item.name )
                else
                  img(src=item.avatar onerror=`this.onerror=null;this.src='` + url_for(theme.lodding_bg.flink) + `'` alt=item.name )
                .md-links-title= item.name 
                .md-links-des= item.descr
    != page.content
  hr
  div 
    p(style="font-size:15px;font-weight:bold")= theme.Flink.info_headline
    ul
      li= theme.Flink.name
      li= theme.Flink.address
      li= theme.Flink.avatar 
      li= theme.Flink.info
    
  hr
  div
    p(style="font-size:15px;font-weight:bold")= theme.Flink.require_headline
    ul
      li= theme.Flink.requirement1
      li= theme.Flink.requirement2
      li= theme.Flink.requirement3
      li= theme.Flink.requirement4
      li= theme.Flink.requirement5
      li= theme.Flink.requirement6
  
  hr
  div
    p(style="font-size:15px;font-weight:bold")= theme.Flink.comment
    ul
      li= theme.Flink.PS

  if page.comments !== false
    include includes/comments/index.pug


